[Unit]
Description = LocalStack Infra Up 
After = network.target syslog.target

[Service]
ExecStart = {{ localstack_dir }}/localstack-infra-start.sh
StandardOutput = syslog

[Install]
WantedBy = multi-user.target
